* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #2f3336;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #424549;
}
